{% extends "coins/base.html" %}

{% block title %}{{ coin.title }}{% endblock %}

{% block content %}
<h2>{{ coin.title }} ({{ coin.ticker }})</h2>

<button id="getBlockBtn" class="btn btn-success">Get height block</button>
<p id="blockHeight"></p>

<hr>

<form id="balanceForm">
    {% csrf_token %}
    <label for="walletAddress">Input address wallet:</label>
    <input type="text" id="walletAddress" class="form-control" required>
    <button type="submit" class="btn btn-info mt-2">Check balance</button>
</form>
<p id="walletBalance"></p>

<a href="{{ coin.explorer }}" class="btn btn-primary mt-2" target="_blank">
    Open Explorer
</a>

<hr>

<button id="getAddressBtn" class="btn btn-info">Get address wallet</address></button>
<p id="addressWallet"></p>

<script>
    function getCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }
    document.getElementById("getBlockBtn").addEventListener("click", function() {
        const ticker = "{{ coin.ticker|upper }}";
        fetch(`/api/block/${ticker}/`)
            .then(response => response.json())
            .then(data => {
                if (data.height) {
                    document.getElementById("blockHeight").innerText = "Current block: " + data.height;
                } else {
                    document.getElementById("blockHeight").innerText = "Error fetching block height";
                }
            })
            .catch(error => {
                document.getElementById("blockHeight").innerText = "Request failed";
                console.error("Error:", error);
            });
    });
    
    document.getElementById("balanceForm").addEventListener("submit", function(event) {
        event.preventDefault();
        const ticker = "{{ coin.ticker|upper }}";
        const address = document.getElementById("walletAddress").value;
        const csrfToken = getCSRFToken();
        const balanceText = document.getElementById("walletBalance");
        
        fetch(`/api/balance/${ticker}/`, {
            method: "POST",
            headers: { 
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({ address: address })
        })
        .then(response => response.json().then(data => ({ status: response.status, body: data })))
        .then(({ status, body }) => {
            if (status === 200 && body.balance !== undefined) {
                balanceText.innerText = "Balance: " + body.balance;
            } else if (status === 400 && body.address) {
                let explorerUrl = body.address.explorer_url || "{{ coin.explorer }}";
                balanceText.innerHTML = `❌ ${body.address.message}<br>
                    <a href="${explorerUrl}" target="_blank">Check correct format here</a>`;
            } else {
                balanceText.innerText = "Balance not found";
            }
        })
        .catch(error => {
            document.getElementById("walletBalance").innerText = "Request failed";
            console.error("Error:", error);
        });
    });

        document.getElementById("getAddressBtn").addEventListener("click", function() {
        const ticker = "{{ coin.ticker|upper }}";
        fetch(`/api/address/${ticker}/`)
            .then(response => response.json())
            .then(data => {
                if (data.address) {
                    document.getElementById("addressWallet").innerText = "Current address: " + data.address;
                } else {
                    document.getElementById("addressWallet").innerText = "Error fetching block height";
                }
            })
            .catch(error => {
                document.getElementById("addressWallet").innerText = "Request failed";
                console.error("Error:", error);
            });
    });
    </script>
    
{% endblock %}